@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }

  .mob-menu {
    padding: 80px 40px 40px 35px;
  }

  .mob-menu .social-links {
    justify-content: normal;
    gap: 56px;
  }

  .mob-nav-link {
    font-size: 36px;
  }

  .customers-list {
    gap: 72px 16px;
  }

  .customers-link {
    width: 190px;
  }

  .footer-input {
    width: 398px;
  }

  .modal {
    width: 392px;
  }
}